/* Body Styling */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

/* Nav Bar Styling */
.links {
  font-family: "Montserrat";
  font-weight: 900;
}

.container {
  margin: 0 auto;
  width: 100% !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: red;
}

.logo img {
  width: 100px;
  margin: 8px 0 0 16px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: red;
  font-weight: 900;
}

nav a:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  margin: 8px;
  float: right;
  display: none !important;
}

/* Common styles for rows */
.row1,
.row2,
.row3,
.row4 {
  display: block;
}

/* Specific styles for each row */
.row1 {
  padding: 0px 0px 30px 0px;
}

.row2 {
  background-color: black;
  color: azure;
  padding: 30px;
}

/* Common styles for columns */
.row1 .column1,
.row3 .column1,
.row4 .column1,
.row1 .column2,
.row3 .column2,
.row4 .column2 {
  width: 100%;
  overflow: auto;
  height: fit-content;
}

/* Specific styles for each column */
.row4 .column2 {
  background-color: black;
}

/* Common styles for headings */
#heading1,
#heading2,
#heading3 {
  font-size: 300%;
  font-family: "Montserrat";
}

/* Specific styles for each heading */
#heading1 {
  color: #333;
}

#heading2 {
  color: red;
}

#heading3 {
  color: white;
}

/* Common styles for paragraph content */
#para1,
#para2,
#para3 {
  font-size: large;
  padding: 0px 20px 20px 20px;
  font-family: "Sora";
}

/* Specific styles for each paragraph content */
#para1,
#para2 {
  color: #555;
}

#para3 {
  color: white;
}

/* Common styles for paragraph quotes */
#quote1,
#quote2 {
  font-size: 20px;
  font-family: "Dosis";
  letter-spacing: 0.1em;
}

/* Specific styles for each paragraph quote */
#quote1 {
  color: black;
}

#quote2 {
  color: red;
}

/* Common styles for images */
#img1,
#img2,
#img3 {
  display: none;
}

#img1_mobile,
#img2_mobile,
#img3_mobile {
  border-radius: 0;
  width: 100%;
}

/* Specific styles for each image */
#img1_mobile {
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* Row 1 - List and Button Styles */
.row1 .column2 ul {
  display: none;
}

.row1 .column2 button {
  padding: 16px;
  border-radius: 23px;
  color: white;
  background-color: black;
  border: 2px solid black;
  font-size: 19px;
  margin: 0 auto;
}

.row1 .column2 button:hover {
  color: white;
  background-color: black;
  border: 2px solid red;
}

/* Row 2 */
.row2 h1 {
  font-family: "Raleway";
  font-size: 50px;
}

.row2 h2 {
  font-family: "Oswald";
  font-size: 30px;
  letter-spacing: 0.02em;
}

/* Span Styles */
#span_highlight {
  color: red;
}

/* Footer */
footer {
  text-align: center;
  background-color: red;
  color: white;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

/* Media query for screens with a minimum width of 768 pixels and a maximum of 1023 pixels (typical for tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Common styles for rows */
  .row1,
  .row2,
  .row3,
  .row4 {
    display: block;
  }

  /* Specific styles for each row */
  .row1 {
    padding: 0px 0px 30px 0px;
  }

  /* Common styles for columns */
  .row1 .column1,
  .row3 .column1,
  .row4 .column1,
  .row1 .column2,
  .row3 .column2,
  .row4 .column2 {
    width: 100%;
  }

  /* Row 1 - List and Button Styles */
  .row1 .column2 ul {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: -50px;
    padding-top: 30px;
    display: block;
  }

  .row1 .column2 ul li {
    font-family: "Poppins";
    font-size: 20px;
    color: rgb(174, 174, 174);
    padding: 5px 0px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.2em;
  }

  .row1 .column2 ul li:hover {
    color: black;
    font-size: 22px;
  }

  /* Specific styles for each image */
  #img1_mobile {
    height: 650px;
  }
}

/* Media query for screens with a minimum width of 1025 pixels (typical for desktops) */
@media only screen and (min-width: 1025px) {

  /* Common styles for rows */
  .row1,
  .row3,
  .row4 {
    display: flex;
    align-items: center;
  }

  /* Specific styles for each row */
  .row1 {
    padding: 50px 100px;
  }

  /* Common styles for columns */
  .row1 .column1,
  .row3 .column1,
  .row4 .column1,
  .row1 .column2,
  .row3 .column2,
  .row4 .column2 {
    width: 50%;
  }

  /* Common styles for headings */
  #heading1,
  #heading2,
  #heading3 {
    font-size: 50px;
  }

  /* Common styles for paragraph content */
  #para1,
  #para2,
  #para3 {
    font-size: large;
    padding: 0px 100px;
  }

  /* Common styles for images */
  #img1,
  #img2,
  #img3 {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 463.5px;
  }

  #img1_mobile,
  #img2_mobile,
  #img3_mobile {
    display: none;
  }

  /* Specific styles for each image */
  #img1 {
    border-radius: 15%;
    width: 80%;
    display: flex;
    height: auto;
  }

  /* Row 1 - List and Button Styles */
  .row1 .column2 ul {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: -50px;
    padding-top: 30px;
    display: block;
  }

  .row1 .column2 ul li {
    font-family: "Poppins";
    font-size: 20px;
    color: rgb(174, 174, 174);
    padding: 5px 0px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.2em;
  }

  .row1 .column2 ul li:hover {
    color: black;
    font-size: 22px;
  }
}

/* Media query for screens to adjust navbar styling */
@media screen and (max-width: 900px) {
  nav {
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .links {
    flex-direction: column;
  }

  .logo {
    width: 95%;
    margin: 8px;
  }

  .menu-icon {
    display: inline-block !important;
  }

  #list {
    display: none;
  }
}

.product-info {
  padding: 8px;
}

.basic-info {
  padding: 8px;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin: 16px;
  }
}